body {
    font-size: 14px;
    background-color: orange;
}

div {
    background-color: skyblue;
    padding: 15px;

}

a {
    text-decoration: none;
    color: gray;
    font-weight: 16px;
    font-weight: 700;
}